{% extends 'frontbase.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <section class="login">
        <div class="wrap">

            <form method="post">

                <h1>Connexion</h1>

                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Email" required autofocus>

                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <input type="submit" value="Connexion">

                <input type="checkbox" name="_remember_me">
                <label class="checkbox">Se souvenir de moi</label>

            </form>
        </div>
    </section>

{% endblock %}
