{% extends 'dashboard.html.twig' %}

{% block title %}Edit Instrument{% endblock %}

{% block body %}
    <h1>Edit Instrument</h1>

    {{ include('instrument/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
