{% extends 'dashboard.html.twig' %}

{% block title %}New Instruments{% endblock %}

{% block body %}
    <h1>Create new Instruments</h1>

    {{ include('instruments/_form.html.twig') }}

{% endblock %}
