{% extends 'frontbase.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="assets/css/profil.css">
{% endblock %}

{% block body %}
    <div class="main_container">
        <header>
            <div class="img_container"><img id="user_pic" src="assets/img/default_avatar.png" alt="photo de profil de l'utilisateur"></div>
            <h3 id="username">{{ user.username }}</h3>
            <nav>
                <ul>
                    <li><a href="#band">Groupe</a></li>
                    <li><a href="#search">Rechercher</a></li>
                </ul>
            </nav>
            <div class="switch_menu"></div>
            <a id="logout" href="{{ path('app_logout') }}">Déconnexion</a>
        </header>

        <div class="section_container">
            <section id="profil">

                <h1> Mon Profil</h1>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi deleniti dolor eum iure maiores
                    voluptate? Adipisci assumenda at cumque doloribus dolorum excepturi, exercitationem illo magnam
                    natus nesciunt nisi nobis odit pariatur porro praesentium qui quia quidem repellendus sequi
                    similique sunt tempora ullam voluptate voluptates voluptatum. Eius et expedita iure molestiae nobis
                    quam quisquam repudiandae vitae. Eaque enim exercitationem fugit officiis recusandae rem similique.
                    A aliquam, architecto corporis incidunt ipsut cumque dolorum, eum fugit minima optio qui quibusdam
                    quidem similique vitae. Ab, ad alias aliquid assumenda commodi consequatur eaque, id illum labore,
                    molestiae odio qui repellat rerum? Aliquam asperiores assumenda atque blanditiis consequatur
                    delectus deserunt dolor eos, esse et eum, facilis harum ipsum laboriosam molestiae nam natus
                    nesciunt non numquam officia pariatur quas quibusdam quo recusandae reiciendis repellendus
                    repudiandae similique sint, tempora tempore ullam veniam veritatis voluptatum. Adipisci alias atque
                    cumque distinctio laborum nulla praesentium rerum.</p>

            </section>

            <section id="band">

                <h2>Groupe</h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi autem beatae commodi consequuntur culpa deleniti, dolor dolorum excepturi fugiat iusto, magni maxime nobis nostrum obcaecati officia officiis pariatur porro, possimus quas qui repellendus tempora ullam unde voluptates. Dignissimos error quis recusandae suscipit tempore. Accusamus deserunt facilis in obcaecati? Accusantium culpa dicta, ducimus eum, explicabo inventore ipsum libero neque nihil odio porro reprehenderit repudiandae sit, temporibus totam veniam vero. Aspernatur consectetur delectus deleniti dolor explicabo facilis inventore itaque labore, modi molestiae nemo non odit quam reiciendis vel! Corporis dolores, et expedita, id maxime minus non quaerat quis repellendus repudiandae velit.</p>
            </section>

            <section id="search">

                <h2>Rechercher</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic natus quas cumque autem recusandae veritatis reprehenderit explicabo quo rerum repellendus pariatur voluptatibus quos, mollitia beatae eum ipsa sapiente porro similique. Hic architecto exercitationem voluptas repellat reiciendis libero! Porro voluptates est optio architecto nemo ipsam tempore ea harum iste labore suscipit accusamus, nisi vel molestias dolore. Ullam, tenetur quisquam sapiente quae aspernatur commodi similique repudiandae, obcaecati architecto sed iste quibusdam enim nemo soluta? Sapiente maxime, ad adipisci error a nobis, quas consequatur soluta rem nihil et, minima quo porro aut dicta sequi. Quia laboriosam iste debitis harum laborum consequuntur omnis quae?</p>

            </section>
        </div>
    </div>


    {# {{ form(form) }} #}
{% endblock %}
