/*===========================================================================
                            * BAND TOGETHER *
                            -- PROFIL PAGE --
===========================================================================*/

@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Bungee|Gruppo|McLaren|Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap');

html {
    scroll-behavior: smooth;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: Calibri;
    font-size: 16px;
    min-height: 100vh;
    scroll-behavior: smooth;
}

.main_container {
    display: flex;
}

/* ======================================================================================= */
/* ======================================= HEADER ======================================== */
/* ======================================================================================= */

header {
    width: 18%;
    height: 100vh;
    background-color: #FFCC46;
    color: white;
    position: fixed;
}

header .img_container {
    width: 100%;
    margin: 4vh 0;
}

header .img_container img {
    width: 60%;
    display: block;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 50%;
}

#username {
    font-size: 1.5em;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    color: black;
    margin-bottom: 5vh;
}

header ul li a, #logout {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    padding: 5px 0;
}

header ul li a:hover, #logout:hover {
    background-color: rgba(0, 0, 0, .3);
    color: white;
}

#logout {
    position: absolute;
    bottom: 5vh;
    width: 100%;
}

/* ======================================================================================= */
/* ===================================== SECTIONS ======================================== */
/* ======================================================================================= */

.section_container {
    width: 82%;
    position: absolute;
    left: 18%;
    /* -webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,.5);
    -moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,.5);
    box-shadow: -1px 0px 5px 0px rgba(0,0,0,.5); */
}

section#profil, section#band, section#search {
    min-height: 100vh;
    padding: 2% 3%;
    color: white;
    background-color: #777777;
}

#profil h1, #band h1, #search h1 {
    font-size: 2.8em;
    text-align: center;
    margin-bottom: 2%;
    color: #FFCC46;
}

/* ======================================================================================= */
/* ===================================== PROFIL ======================================== */
/* ======================================================================================= */

#profil h1+p a {
    color: #FFCC46;
}

#profil form{
    border-radius: 5px;
    padding: 50px;
    margin-top: 70px;
}

#profil form .profile_infos{
    margin-bottom: 50px;
    display :flex;
    justify-content: center;
}

#profil form .profile_infos_item{
    flex-basis: 40%;
    text-align: center;
}

#profil form .profile_infos input{
    display: block;
    margin: 0 auto;
    width: 70%;
    padding: 5px;
    text-align: center;
    font-size: 1.2em;   
}

#profil form .profile_infos label,
#profil form .music_infos label{
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px
}

#profil hr{
    margin-bottom: 50px;
    width: 80%;
}

#profil form .music_infos{
    display: flex;
    justify-content: center;
}

#profil form .music_infos_item{
    flex-basis: 40%;
}

#profil form .music_infos_item select{
    display: block;
    margin: 0 auto;
    width: 70%;
    padding: 10px;
    font-size: 1.2em;
    text-align: center;

}

#profil form .music_infos_item:first-of-type label
{
    display: block;
}

#profil #select_label{
    /* display: block; */
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2em;
}

#profil form .music_infos_item label{
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.2em;
}

#profil form .music_infos_item input[type=checkbox] + label{
    text-align: center;
    font-size: 1em;
}

#profil form .music_infos_item input[type=checkbox]{
    margin-left: 43%;
}

#profil input[type=submit]{
    margin: 100px auto 20px;
    display: block;
    font-size: 1.3em;
    width: 10%;
    background-color: white;
    border: none;
    color: #252525;
    padding: 5px;
}

#profil input[type=submit]:hover{
    background-color: #FFCC46;
    color: #252525;
}

#profil #flash_message{
    font-size: 1.5em;
    color: #FFCC46;
    text-align: center;
}

/* ======================================================================================= */
/* ===================================== SEARCH PAGE ===================================== */
/* ======================================================================================= */

section#profil p.first,
section#profil p.second,
section#search p.first,
section#search p.second,
section#search p.third{
    text-align: center;
    font-size: 1.5em;
}

section#search p.second{
    margin-bottom: 30px;
}

section#profil p.first a,
section#profil p.second a,
section#search p.first a,
section#search p.second a{
    color: #FFCC46;
    font-size: 1.2em;
    text-decoration: none;
}
section#profil p.first a:hover,
section#profil p.second a:hover,
section#search p.first a:hover,
section#search p.second a:hover{
    text-decoration: underline;
}

#search form {
    padding: 30px 0; 
    margin-bottom: 100px;   
}

#search .search_form_container {
    display: flex;
    justify-content: space-evenly;
}

#search .search_form_item label{
    margin-right: 15px;
    font-size: 1.2em;
    color: #FFCC46;
    border: 2px solid #252525;
    padding: 5px;
}

#search .search_form_item select{
    text-align: center;
    font-size: 1.2em;
    color: #252525;
}

#search .search_form_item input[type=submit]{
    width: 150%;
    background-color: #FFCC46;
    border:solid 1px #252525;
    color: #252525;
    padding: 8px;
}

#search .search_form_item input[type=submit]:hover{
    background-color: #252525;
    color: #FFCC46;
    border-color: #FFCC46;
}


/* =========================== AFFICHAGE USERS ========================== */


#search .users_container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#search .users_item{
    flex-basis: 20%;
    margin-bottom: 100px;
    text-align: center;
}


#search .users_item .img_container img{
    width: 30%;
    margin-bottom: 20px;
}

#search .users_item p.username{
    font-family: 'Bungee Inline';
    margin-bottom: 20px;
    font-size: 1.5em;
}

#search .users_item p.departement{
    color: #FFCC46;
}

