{% extends 'userbase.html.twig' %}


{% block body %}
            <section id="search">

                <h1>Rechercher</h1>
                <p>Ici vous pouvez voir les profils autour de vous ou choisir vos propre critères de recherche. Trouvez ceux qui vous interessent, il ne vous reste plus qu'a les contacter !</p>

            </section>
        </div>
    </div>
{% endblock %}